

body {
    background-color: #101013;
    color: #fff;
    display: block;
    justify-content: left;
    align-items: left;
    height: 100vh;
    padding: 5%;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }
div{
    font-weight: bold;
    font-family: "Poppins", sans-serif; 
    font-weight: 900;
    font-size: 26px;
}
a{
    font-weight: bold;
    font-family: "Poppins", sans-serif; 
    font-weight: 900;
    font-size: 26px; 
}
  .greetingA {
    font-size: 100px; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: transparent; 
    background: linear-gradient(to right, white 0%, gray 100%);
    -webkit-background-clip: text;
    background-size: 100% 100%; 
    white-space: normal; 
    word-break: break-word; 
    text-align: center; 
  }

  .christmas {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #e9b7ce, #b5c6e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .drunkWarning {
    background: linear-gradient(90deg, #FF0000, #BABABA); 
    border: 1px solid #FF0000; 
    border-radius: 10px; 
    padding: 15px;
    margin: 20px auto; 
    width: fit-content; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: white; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .letterBody {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0;
    padding: 20px;
    margin: 0;
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  /*Heli greeting animation*/
  .keyboard {
    white-space: nowrap;
  }
  .key {
    font-size: 15vw;
    display: inline-block;
    letter-spacing: -1vw;
    transition: transform 0.2s;
  }
  
  
  
  @keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }

  .key:nth-child(1) {
    animation: pressDown1 2s infinite;
  }
  
  .key:nth-child(2) {
    animation: pressDown2 3s infinite;
  }
  
  .key:nth-child(3) {
    animation: pressDown3 4s infinite;
  }
  
  .key:nth-child(4) {
    animation: pressDown4 2.5s infinite;
  }
  
  .key:nth-child(5) {
    animation: pressDown5 2.5s infinite;
  }
  
  .key:nth-child(6) {
    animation: pressDown6 3.5s infinite;
  }
  
  .key:nth-child(7) {
    animation: pressDown7 2.2s infinite;
  }
  
  .key:nth-child(8) {
    animation: pressDown8 3.2s infinite;
  }